body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h5 {
  font-size: 1.5rem;
  color: #fff;
}
p,
li,
a {
  font-size: 1.2rem;
  color: #fff;
}
.nav-container {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(12, 11, 11);
}
.nav-container h5 {
  margin: 0 30px;
  padding: 0 20px;
}
.nav-container .nav ul {
  list-style-type: none;
}
.nav-container .nav ul li {
  display: inline-block;
  margin: 0 30px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.nav-container .nav ul li:hover {
  background: hsl(0, 0%, 95%);
  color: black;
}
.home_container {
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_container .video_player {
  width: 100%;
  height: 100%;
}
.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.card-body {
  text-align: center;
  background: teal;
}
